* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  overflow-y: scroll;
  overflow-x: scroll;
}

button:hover {
  cursor: pointer;
}

.container {
  height: 100%;
  margin: 0 auto;
  align-items: center;
  width: 77%;
  display: flex;
}

html,
body {
  position: relative;
}

.swiper {
  width: 100%;
  height: 390px;
  margin: 20px auto;
  width: 100%;
  padding: 50px 0 !important;
}

.swiper-slide {
  text-align: left;
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.144);
  border-radius: 10px;
  gap: 30px;
  padding: 60px 80px 85px 80px;
  font-size: 18px;
  background: #fff;
  display: flex;
  transition: transform 0.3s ease;
  opacity: 0.5; /* Make the side slides a bit faded */
}
.swiper-slide .content-wrapper {
  display: flex;
  flex-direction: column;
}
.swiper-slide .content-wrapper p {
  padding: 12px 0;
}
.swiper-slide span {
  font-size: 14px;
  color: #979797;
}

.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide-active {
  width: 60% !important;
  margin: 0 auto;
  opacity: 1; /* Make the centered slide fully visible */
  transform: scale(1.1); /* Slightly enlarge the centered slide */
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.swiper-pagination-fraction {
  margin: 60px 0;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .container {
    margin: 0 auto;
    width: 80%;
    display: flex;
  }
}
@media screen and (max-width: 1100px) {
  .section5 .swiper-slide-active {
    width: 70% !important;
  }
}
@media screen and (max-width: 1024px) {
  .section5 .swiper-slide-active {
    padding: 30px;
    width: 70% !important;
  }
}
@media screen and (max-width: 948px) {
  .container {
    margin: 0 auto;
    width: 75%;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    width: 85%;
    display: flex;
  }
  .mySwiper {
    display: none;
  }
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .logo {
  margin-right: 20px;
}
header .dFlex {
  display: flex !important;
}
header .responsiveMenu {
  display: none;
  transition: all 0.2s ease;
  z-index: 999;
  position: absolute;
  width: 40%;
  text-align: right;
  top: 95px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.881);
}
header .responsiveMenu nav {
  gap: 0;
  flex-direction: column;
}
header .responsiveMenu nav a {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  border: 1px solid orangered;
}

.header-bottom.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}

.header-top {
  color: white;
  display: flex;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: rgb(28, 24, 24);
}
.header-top ul:nth-child(1) {
  display: flex;
  gap: 50px;
}
.header-top ul:nth-child(2) {
  display: flex;
  gap: 40px;
}
.header-top i {
  color: white;
}
.header-top .container {
  justify-content: space-between;
}

.blogBtn button {
  border: none;
  color: black !important;
  background-color: white !important;
}

.header-bottom {
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  height: 95px;
  width: 100%;
}
.header-bottom button {
  width: 8rem;
  transition: all 0.3s ease;
  font-size: 16px;
  border: 1px solid transparent;
  color: #ff3500;
  padding: 5px 8px;
  border-radius: 25px;
  margin: 0;
}
.header-bottom button:hover {
  cursor: pointer;
  background-color: transparent;
}
.header-bottom i.burgerMenu {
  cursor: pointer;
  font-size: 25px;
  display: none;
}
.header-bottom .container {
  justify-content: space-between;
}

i.logOut {
  color: red;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
}

nav {
  width: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 26px;
}
nav a {
  text-align: right;
  position: relative;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 15px;
  color: black;
}
nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px; /* Thickness of the underline */
  width: 0;
  background-color: orangered;
  transition: width 0.4s ease; /* Adjust the duration as needed */
}
nav a:hover::after {
  width: 100%; /* Final width of the underline */
}
nav .no-underline::after {
  width: 0 !important;
  background-color: transparent !important; /* Ensures no underline */
}
nav a:hover {
  cursor: pointer;
  color: #ff3500;
}

@media screen and (max-width: 748px) {
  .header-top ul:nth-child(1) {
    font-size: 14px;
  }
  .header-top ul:nth-child(2) {
    gap: 30px;
  }
}
@media screen and (min-width: 992px) {
  .responsiveMenu {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .header-bottom nav.mainNav {
    display: none;
  }
  .header-bottom i.burgerMenu {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .header-top .container {
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
footer {
  background-color: rgb(248, 248, 248);
  padding-top: 70px;
  padding-bottom: 70px;
  color: rgb(122, 122, 122);
}
footer .container {
  flex-direction: column;
}
footer span {
  text-align: left;
  width: 100%;
}
footer hr {
  color: black;
  width: 100%;
  margin: 30px 0;
}
footer .footerList {
  padding-bottom: 60px;
  gap: 85px;
}
footer .icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
footer h3 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
  color: rgb(46, 46, 46);
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
footer a {
  text-decoration: none;
  color: rgb(122, 122, 122);
}
footer a:hover {
  color: orangered;
}

@media screen and (max-width: 1340px) {
  footer .footerList {
    gap: 50px;
  }
  footer .icons {
    gap: 20px;
  }
  footer h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  footer ul {
    gap: 15px;
  }
}
@media screen and (max-width: 1200px) {
  footer .footerList {
    gap: 45px;
  }
  footer .icons {
    gap: 20px;
  }
  footer li {
    font-size: 14px;
  }
  footer h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  footer ul {
    gap: 15px;
  }
}
@media screen and (max-width: 1050px) {
  footer li {
    font-size: 16px;
  }
  footer ul {
    width: 40%;
  }
  footer h3 {
    margin-bottom: 10px;
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  footer ul {
    width: 60%;
  }
}
.loginLink, .registerLink, .toAddBlog, .blogBtn, .respFavoritesLink {
  display: none;
}

.section1 {
  background-image: url(../images/banner.png.webp);
  height: 76.5vh;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.section1 .container {
  display: flex;
  align-items: center;
}
.section1 .content-wrapper {
  gap: 35px;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: white;
}
.section1 .content-wrapper h1 {
  width: 100%;
  line-height: 80px;
  font-size: 75px;
}
.section1 .content-wrapper h1 span {
  font-weight: 200;
}
.section1 .content-wrapper p {
  width: 70%;
  line-height: 35px;
}
.section1 .content-wrapper button {
  width: 200px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #ff3500;
  padding: 17px 50px;
  border-radius: 30px;
  z-index: 1;
}
.section1 .content-wrapper button:hover {
  background-color: #ff3500;
  transition: 0.6s;
  cursor: pointer;
  color: white;
}
.section1 .img-wrapper {
  display: block;
  position: absolute;
}
.section1 .img-wrapper img {
  width: 80%;
  left: 300px;
  top: 100px;
  position: relative;
}

.section2 {
  padding-bottom: 50px;
  text-align: center;
  margin-top: 90px;
  padding-top: 90px;
}
.section2 .container {
  margin-top: 50px;
  flex-direction: column;
}
.section2 h2 {
  font-size: 50px;
}
.section2 p:nth-child(2) {
  color: #909092;
  width: 60%;
  margin-bottom: 50px;
  margin-top: 10px;
}
.section2 .icon-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 140px;
  background-image: url(../images/service_icon_bg_1\ \(4\).png);
  background-repeat: no-repeat;
  background-size: contain;
}
.section2 .icon-wrapper img {
  width: 50%;
  height: 50%;
}
.section2 .petCard-wrapper {
  width: 100%;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}
.section2 .petCard {
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  padding: 70px 25px 65px 25px;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 1px solid #ffc5c2;
}
.section2 .petCard:hover {
  border: none;
  box-shadow: #909092 2px 2px 12px 1px;
  cursor: pointer;
}
.section2 .petCard h3 {
  width: 100%;
  font-size: 25px;
}
.section2 .petCard p {
  color: #909092;
}

.section3 {
  margin-bottom: 50px;
  margin-top: 90px;
}
.section3 .pet__content__wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 90px 0 0 80px;
}
.section3 .pet__content__wrapper h2 {
  width: 100%;
  font-size: 55px;
}
.section3 .pet__content__wrapper h2 span {
  font-weight: 300;
}
.section3 .pet__content__wrapper p {
  width: 80%;
  color: #909092;
}
.section3 .pet__content__wrapper button {
  width: 200px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid transparent;
  background-color: #ff3500;
  padding: 17px 50px;
  border-radius: 30px;
  z-index: 1;
}
.section3 .pet__content__wrapper button:hover {
  cursor: pointer;
}
.section3 .img-wrapper {
  display: block;
  width: 40%;
}
.section3 .img-wrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section4 {
  padding-top: 70px;
  margin-top: 30px;
  margin-bottom: 200px;
}
.section4 .content__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section4 .content__wrapper h2 {
  width: 100%;
  font-size: 55px;
}
.section4 .content__wrapper h2 span {
  font-weight: 300;
}
.section4 .content__wrapper p {
  width: 80%;
  color: #909092;
}
.section4 .content__wrapper button {
  width: 220px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid transparent;
  background-color: #ff3500;
  padding: 14px 40px;
  border-radius: 30px;
  z-index: 1;
}
.section4 .content__wrapper button:hover {
  cursor: pointer;
}
.section4 .counting-numbers {
  position: relative;
  display: block;
  width: 50%;
}
.section4 .counting-numbers div {
  display: block;
  width: 250px;
  height: 260px;
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
  border-radius: 14px;
  background: #fff;
  text-align: center;
  padding: 40px;
}
.section4 .counting-numbers div p {
  color: #909092;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.section4 .counting-numbers div h2 {
  font-size: 60px;
}
.section4 .counting-numbers div img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1px solid red;
}
.section4 .counting_1 {
  left: 270px;
  top: -80px;
  position: absolute;
}
.section4 .counting_2 {
  top: 50px;
  left: 0;
  position: absolute;
}
.section4 .counting_3 {
  left: 270px;
  top: 230px;
  position: absolute;
}

.section5 {
  margin-top: 60px;
  margin-bottom: 90px;
}
.section5 .img-wrapper {
  width: 500px;
  height: 200px;
}
.section5 .img-wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section6 {
  margin-top: 10px;
  margin-bottom: 120px;
}
.section6 .container {
  flex-direction: column;
}
.section6 h2 {
  font-size: 50px;
  padding: 10px 0;
}
.section6 p {
  color: #909092;
  width: 55%;
  text-align: center;
  padding-bottom: 60px;
}
.section6 .row {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.section6 .row .team_member {
  position: relative;
  width: 31%;
}
.section6 .row .team_member img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.section6 .row .team_member h3 {
  background-color: white;
  position: absolute;
  bottom: -20px;
  line-height: 20px;
  font-size: 18px;
  left: 80px;
  border-radius: 5px;
  display: inline-block;
  padding: 12px 44px;
  background-color: white;
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
}
.section6 .row .team_member h3 span {
  font-weight: 300;
  font-size: 13px;
}

.section7 {
  height: -moz-fit-content;
  height: fit-content;
  padding: 90px 0;
  margin-bottom: 90px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/contact_bg.png);
}
.section7 .row {
  margin-top: 25px;
  gap: 17px;
  align-items: center;
  justify-content: center;
}
.section7 .row a {
  padding-left: 5px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
.section7 .row p {
  font-size: 20px;
}
.section7 .container {
  height: 100%;
  padding: 50px 0;
  justify-content: center;
  gap: 25px;
  flex-direction: column;
  color: white;
}
.section7 .container h2 {
  font-size: 50px;
}
.section7 .container h6 {
  font-size: 25px;
  width: 70%;
  font-weight: 400;
  text-align: center;
}
.section7 .container button {
  width: 200px;
  background: #fff;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #ff3500 !important;
  padding: 17px 40px;
  border-radius: 30px;
  z-index: 1;
}
.section7 .container button a {
  color: #ff3500 !important;
}
.section7 .container button:hover {
  background-color: #ff3500;
  transition: 0.6s;
  cursor: pointer;
  color: white !important;
}
.section7 .container button:hover a {
  color: white !important;
}

.sectionAddBlog {
  padding-top: 60px;
  min-height: 100vh;
}
.sectionAddBlog .options {
  -moz-column-gap: 90px;
       column-gap: 90px;
  row-gap: 30px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.sectionAddBlog .options label {
  display: flex;
  gap: 5px;
}
.sectionAddBlog form {
  gap: 35px;
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 2px 1px 20px 10px rgb(223, 216, 216);
}
.sectionAddBlog form button {
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #ff3500;
  width: 40%;
  padding: 10px;
}
.sectionAddBlog form .input {
  padding: 20px;
  height: 40px;
}

.modal {
  position: fixed;
  top: 15%;
  width: 45%;
  border-radius: 10px;
  color: white;
  text-align: center;
  gap: 20px;
  padding: 30px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  background-color: rgba(93, 40, 3, 0.759);
}

.modal .input {
  width: 300px;
  height: 30px;
}

.modal i {
  font-size: 26px;
  position: absolute;
  right: 20px;
  top: 10px;
}
.modal i:hover {
  cursor: pointer;
}

.modal button {
  background-image: linear-gradient(-180deg, #d26f35, #77320a);
  border: none;
  color: white;
  height: 30px;
}
.modal button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1220px) {
  .section1 .img-wrapper img {
    width: 75% !important;
    left: 250px !important;
    top: 110px !important;
  }
  .section3 .pet__content__wrapper {
    padding: 50px 0 0 50px;
  }
  .section3 .pet__content__wrapper h2 {
    font-size: 45px;
  }
  .section3 .pet__content__wrapper button {
    width: 180px;
    font-size: 16px;
  }
  .sectionAddBlog {
    margin-bottom: 90px;
  }
  .sectionAddBlog form {
    width: 55%;
  }
  .sectionAddBlog .options {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media screen and (max-width: 1070px) {
  .section2 .petCard {
    width: 45%;
  }
  .section3 .pet__content__wrapper {
    padding: 50px 0 0 50px;
  }
  .section3 .pet__content__wrapper h2 {
    font-size: 35px;
  }
  .section3 .pet__content__wrapper p {
    width: 100%;
  }
  .section4 .row {
    flex-direction: column;
    align-items: center;
  }
  .section4 .counting-numbers {
    margin: 40px 0;
    height: 75vh;
    width: 90%;
    order: 1;
  }
  .section4 .counting-numbers div {
    width: 230px;
    height: 240px;
  }
  .section4 .counting-numbers div h2 {
    font-size: 50px;
  }
  .section4 .content__wrapper {
    text-align: center;
    width: 100%;
    order: 2;
  }
  .section4 .content__wrapper h2 {
    font-size: 50px;
  }
  .section4 .content__wrapper p {
    width: 100%;
  }
  .section4 .content__wrapper button {
    margin: 0 auto;
  }
  .section6 .row .team_member {
    width: 47%;
  }
}
@media screen and (max-width: 992px) {
  .section1 .img-wrapper {
    display: none !important;
  }
  .section1 .img-wrapper img {
    display: none;
  }
  .section1 .content-wrapper {
    width: 100%;
  }
  .section1 .content-wrapper p {
    width: 100%;
  }
  .section2 .petCard {
    width: 45%;
  }
  .section3 .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section3 .pet__content__wrapper {
    padding: 0;
    width: 100%;
  }
  .section3 .img-wrapper {
    width: 60%;
  }
  .section3 h2 {
    font-size: 30px;
  }
  .section3 button {
    margin: 0 auto;
  }
  .section6 p {
    width: 80%;
  }
  .section6 .team_member h3 {
    line-height: 18px !important;
    font-size: 16px !important;
    padding: 8px 32px !important;
  }
  .section6 .team_member h3 span {
    font-weight: 300;
    font-size: 13px;
  }
  .section7 {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .section1 .content-wrapper {
    width: 100%;
  }
  .section1 .content-wrapper h1 {
    font-size: 60px;
  }
  .section2 .petCard {
    width: 80%;
  }
  .section3 .pet__content__wrapper h2 {
    font-size: 28px;
    width: 100%;
  }
  .section4 .content__wrapper h2 {
    font-size: 40px;
  }
  .section4 .counting-numbers {
    text-align: center;
  }
  .section4 .counting-numbers div {
    padding: 15px;
    width: 180px;
    height: 200px;
  }
  .section4 .counting-numbers div h2 {
    font-size: 30px;
  }
  .section4 .counting-numbers .counting_1 {
    left: 220px;
    top: -80px;
    position: absolute;
  }
  .section4 .counting-numbers .counting_2 {
    top: 50px;
    left: 0;
    position: absolute;
  }
  .section4 .counting-numbers .counting_3 {
    left: 220px;
    top: 230px;
    position: absolute;
  }
  .section6 .team_member h3 {
    width: 60%;
    line-height: 18px !important;
    font-size: 13px !important;
    padding: 8px 25px !important;
    left: 70px !important;
  }
  .section6 .team_member h3 span {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 576px) {
  .section6 .team_member h3 {
    width: 65%;
    line-height: 15px !important;
    font-size: 13px !important;
    padding: 5px 11px !important;
    left: 40px !important;
  }
  .section6 .team_member h3 span {
    font-weight: 300;
    font-size: 13px;
  }
}
.section_banner {
  background-image: url(../images/bradcam.png);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}
.section_banner .container {
  align-items: center;
  width: 100%;
  justify-content: center;
}
.section_banner h1 {
  font-size: 50px;
  color: white;
}

.section__blog__container {
  padding-top: 70px;
  margin-bottom: 60px;
}
.section__blog__container .getDetails {
  margin-bottom: 10px;
  color: purple;
  font-size: 20px;
  transition: all 0.5s ease;
}
.section__blog__container .getDetails:hover {
  cursor: pointer;
  color: red;
  letter-spacing: 2.5px;
}
.section__blog__container .container {
  flex-direction: column;
}
.section__blog__container .blogAndRight {
  gap: 30px;
}
.section__blog__container .buttons {
  height: 10vh;
  width: 50%;
  margin-top: 30px;
  align-items: center;
  justify-content: left;
  gap: 0;
}
.section__blog__container #prevBtn,
.section__blog__container #nextBtn {
  font-size: 14px;
  margin-left: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(239, 243, 247, 0.48);
  width: 45px;
  height: 45px;
  border-radius: 0 !important;
  color: #dd1515;
  border: 1px solid #f0e9ff;
}
.section__blog__container .wrappersBlog {
  width: 65%;
}
.section__blog__container .blogs {
  width: 100%;
  display: flex;
  gap: 60px;
  flex-direction: column;
}
.section__blog__container .blogs .createdAt {
  font-size: 20px;
  width: 90px;
  height: 90px;
  position: absolute;
  top: -20%;
  left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #eb592d;
  border-radius: 5px;
}
.section__blog__container .blogs .blogDiv {
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.144);
  width: 100%;
}
.section__blog__container .blogs .blogDiv .editIcon {
  font-size: 24px;
  position: absolute;
  right: 115px;
  top: 12px;
}
.section__blog__container .blogs .blogDiv .editIcon:hover {
  cursor: pointer;
}
.section__blog__container .blogs .blogDiv .removeIcon {
  font-size: 24px;
  position: absolute;
  right: 37px;
  top: 12px;
}
.section__blog__container .blogs .blogDiv .removeIcon:hover {
  cursor: pointer;
}
.section__blog__container .blogs .blogDiv .likeIcon {
  font-size: 25px;
  position: absolute;
  right: 75px;
  top: 12px;
}
.section__blog__container .blogs .blogDiv .likeIcon:hover {
  color: red;
  cursor: pointer;
}
.section__blog__container .blogs .blogDiv .content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 40%;
  padding: 50px 30px 10px 30px;
}
.section__blog__container .blogs .blogDiv .blogIcons {
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  flex-direction: row;
  gap: 40px;
  color: #909092;
}
.section__blog__container .blogs .blogDiv .blogIcons .row {
  align-items: center;
}
.section__blog__container .blogs .blogDiv .blogIcons div {
  gap: 5px;
  align-items: center;
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.section__blog__container .blogs .blogDiv h4 {
  font-weight: 400;
}
.section__blog__container .blogs .blogDiv .img-wrapper {
  height: 60%;
  width: 100%;
}
.section__blog__container .blogs .blogDiv .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__blog__container .right-side {
  width: 30%;
}
.section__blog__container .right-side input {
  font-size: 13px;
  color: #999999;
  padding-left: 20px;
  border: 1px solid #f0e9ff;
  height: 40px;
  width: 100%;
}
.section__blog__container .right-side button {
  height: 60px;
  background: #fff;
  color: #ff3500;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #ff3500;
  letter-spacing: 3px;
  text-align: center;
  color: #ff3500 !important;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  transition: all 0.7s ease;
}
.section__blog__container .right-side button:hover {
  background-color: #eb592d;
  color: white !important;
  letter-spacing: 7px;
}
.section__blog__container .right-side h3 {
  font-weight: 500;
}
.section__blog__container .right-side .img-wrapper {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__blog__container .right-side .img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 80px;
  height: 80px;
}
.section__blog__container .right-side .search {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fbf9ff;
  padding: 30px;
  width: 100%;
  position: relative;
}
.section__blog__container .right-side .search i {
  position: absolute;
  right: 45px;
  top: 42px;
  color: rgba(153, 153, 153, 0.862745098);
}
.section__blog__container .right-side .category {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fbf9ff;
  padding: 30px;
  width: 100%;
  font-size: 18px;
}
.section__blog__container .right-side .category h3 {
  font-weight: 500;
}
.section__blog__container .right-side .category p {
  transition: all 0.3 ease;
  font-size: 16px;
  cursor: pointer;
  color: grey;
}
.section__blog__container .right-side .category p:hover {
  color: black;
}
.section__blog__container .right-side .recents {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fbf9ff;
  padding: 30px;
  width: 100%;
  font-size: 18px;
}
.section__blog__container .right-side .recents .recentPost {
  display: flex;
}
.section__blog__container .right-side .recents .recentPost div {
  font-size: 14px;
  justify-content: center;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.section__blog__container .right-side .recents .recentPost div span {
  color: #999999;
}
.section__blog__container .right-side .recents .recentPost div h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 145px;
}
.section__blog__container .right-side .recents h3 {
  font-weight: 500;
}
.section__blog__container .right-side .tagClouds {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fbf9ff;
  padding: 30px;
  width: 100%;
  font-size: 18px;
}
.section__blog__container .right-side .tagClouds .row {
  gap: 10px;
}
.section__blog__container .right-side .tagClouds .row div {
  cursor: pointer;
  border: 1px solid #eeeeee;
  background: #fff;
  padding: 4px 20px;
  margin-bottom: 8px;
  transition: all 0.3s ease 0s;
  color: #888888;
  font-size: 13px;
}
.section__blog__container .right-side .tagClouds .row div:hover {
  color: black;
  background-color: #eb592d;
  color: white;
}
.section__blog__container .right-side .feeds {
  margin-top: 30px;
  background: #fbf9ff;
  padding: 30px;
  width: 100%;
  font-size: 18px;
}
.section__blog__container .right-side .feeds .instagramFeeds {
  margin-top: 30px;
  gap: 8px;
  display: flex;
}
.section__blog__container .right-side .feeds .img-wrapper {
  cursor: pointer;
}
.section__blog__container .right-side .feeds .img-wrapper img {
  width: 85px;
  height: 85px;
}
.section__blog__container .right-side .newsletter {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fbf9ff;
  padding: 30px;
  width: 100%;
  font-size: 18px;
}

.BlogCard-wrapper {
  padding-top: 70px;
}
.BlogCard-wrapper .blog_card {
  box-shadow: 2px 4px 20px 2px rgb(50, 44, 44);
  display: flex;
  padding: 70px 50px;
  width: 85%;
  border-radius: 10px;
  margin: 0 auto;
}
.BlogCard-wrapper .contents {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  padding: 10px 50px;
}
.BlogCard-wrapper .contents * {
  transition: all 0.3s ease;
}
.BlogCard-wrapper .contents *:hover {
  transform: scale(1.03);
}
.BlogCard-wrapper .contents h2 {
  font-size: 30px;
  color: red;
}
.BlogCard-wrapper .my_image-wrapper {
  border-radius: 15px;
  width: 50%;
  margin: 0 auto;
}
.BlogCard-wrapper .my_image-wrapper img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .blogAndRight .right-side .recents .recentPost h3 {
    width: 95px !important;
  }
}
@media screen and (max-width: 992px) {
  .section__blog__container .blogAndRight {
    flex-direction: column;
  }
  .section__blog__container .right-side {
    width: 100%;
  }
  .section__blog__container .wrappersBlog {
    width: 100%;
  }
  .section__blog__container .blogAndRight .right-side .recents .recentPost h3 {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}
.wishlist-wrapper {
  padding-bottom: 70px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wishlist-wrapper .wishedElement {
  padding: 30px 20px;
  border-radius: 15px;
  margin: 30px 0;
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.376);
  display: flex;
  width: 100%;
}
.wishlist-wrapper .wishedElement .deleteIcon {
  font-size: 24px;
  margin-right: 14px;
  color: red;
}
.wishlist-wrapper .wishedElement .deleteIcon:hover {
  cursor: pointer;
}
.wishlist-wrapper .wishedElement p {
  color: rgb(120, 120, 120);
}
.wishlist-wrapper .wishedElement .blogIcons {
  gap: 35px;
  align-items: center;
}
.wishlist-wrapper .wishedElement .blogIcons .row {
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.wishlist-wrapper .wishedElement .blogIcons .row h4 {
  font-size: 17px;
  font-weight: 400;
}
.wishlist-wrapper .wishedElement .content-wrapper {
  padding: 60px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.wishlist-wrapper .wishedElement .content-wrapper h2 {
  color: rgb(242, 41, 31);
}
.wishlist-wrapper .wishedElement .img-wrapper {
  -o-object-fit: cover;
     object-fit: cover;
}
.wishlist-wrapper .wishedElement .img-wrapper img {
  border-radius: 8px;
  width: 320px;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  margin-bottom: 90px;
}
.contact h2 {
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
}
.contact .row.forms {
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
}
.contact .row.shorts {
  justify-content: space-between;
}
.contact .container {
  flex-direction: column;
}
.contact ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 30%;
  list-style: none;
}
.contact ul li {
  font-size: 18px;
  display: flex;
  gap: 15px;
}
.contact ul li h4 {
  font-weight: 500;
}
.contact ul li span {
  display: block;
  font-weight: 300;
  color: #8a8a8a;
}
.contact ul li i {
  font-size: 26px;
  color: #8a8a8a;
}
.contact iframe {
  width: 100%;
  margin: 80px auto;
}
.contact textarea {
  font-size: 14px;
  padding-left: 10px;
  padding-top: 10px;
  border: 1px solid;
  border-color: #e5e6e9;
  height: 200px;
  resize: none;
  width: 100%;
}
.contact form {
  width: 65%;
}
.contact form button {
  transition: all 0.4s ease;
  background: #fff;
  color: #ff3500;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #ff3500;
  letter-spacing: 3px;
  text-align: center;
  color: #ff3500 !important;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 40px;
}
.contact form button:hover {
  background-color: #ff3500;
  color: white !important;
}
.contact .short {
  width: 46%;
}
.contact input {
  padding-left: 10px;
  border: 1px solid;
  border-color: #e5e6e9;
  margin-top: 30px;
  height: 50px;
}
.contact .long {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .contact .row {
    flex-direction: column;
  }
  .contact .row ul {
    width: 100%;
  }
  .contact .row form {
    width: 80%;
  }
  .contact .row .short {
    width: 100%;
  }
}
.loginSection {
  margin-top: 70px;
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
}
.loginSection * {
  box-sizing: border-box;
}
.loginSection body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}
.loginSection h1 {
  font-weight: bold;
  margin: 0;
}
.loginSection h2 {
  text-align: center;
}
.loginSection p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.loginSection span {
  font-size: 12px;
}
.loginSection a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.loginSection button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.loginSection button:active {
  transform: scale(0.95);
}
.loginSection button:focus {
  outline: none;
}
.loginSection button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}
.loginSection form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.loginSection input {
  background-color: #eee;
  border: none;
  padding: 12px 35px;
  margin: 8px 0;
  width: 100%;
}
.loginSection .container {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 80%;
  max-width: 100%;
  min-height: 480px;
}
.loginSection .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.loginSection .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.loginSection .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  margin-left: 20px;
}
.loginSection .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.loginSection .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.loginSection .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.loginSection .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.loginSection .overlay {
  background: #FF416C;
  background: linear-gradient(to right, #FF4B2B, #FF4B2B);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.loginSection .container.right-panel-active .overlay {
  transform: translateX(50%);
}
.loginSection .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.loginSection .overlay-left {
  transform: translateX(-20%);
}
.loginSection .container.right-panel-active .overlay-left {
  transform: translateX(0);
}
.loginSection .overlay-right {
  right: 0;
  transform: translateX(0);
}
.loginSection .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
.loginSection .social-container {
  margin: 20px 0;
}
.loginSection .social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.loginSection footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}
.loginSection footer p {
  margin: 10px 0;
}
.loginSection footer i {
  color: red;
}
.loginSection footer a {
  color: #3c97bf;
  text-decoration: none;
}
.loginSection form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loginSection form input {
  width: 400px;
  padding: 10px;
  height: 40px;
}
.loginSection form button {
  height: 30px;
}

.registerSection form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.registerSection form input {
  width: 400px;
  padding: 10px;
  height: 40px;
}
.registerSection form button {
  height: 30px;
}/*# sourceMappingURL=main.css.map */